<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/12.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
             <img class="portriat" src="https://media.istockphoto.com/id/1225639749/vector/weather-icons-set.jpg?s=612x612&w=0&k=20&c=7EbuC4dBLWOEWMBiJSSDZCyIfNAAnn3K0Gzm-n1AaXI=" alt="">
             <p>
                Weather App is a simple and user-friendly web application that provides current weather information for various locations. Our goal is to make it easy for users to access up-to-date weather data and stay informed about the weather conditions in their area.
            </p>
        </div>
        
        {{>footer}}
    </body>
</html>